<h1><%= t('editing_pipe_store_output', default: "Editing Pipe Store Output") %></h1>

<%= render 'form', pipe_store_output: @pipe_store_output %>

<%= link_to 'Show', @pipe_store_output %> |
<%= link_to 'Back', pipe_store_outputs_path %>
