<h1><%= t('new_raw_material_to_production_input', default: "New Raw Material To Production Input") %></h1>

<%= render 'form', raw_material_to_production_input: @raw_material_to_production_input %>

<%= link_to 'Back', raw_material_to_production_inputs_path %>
