
<% if logged_in? %>
	<h1>Main Menu:</h1>
	<%= link_to "Customers", customers_path %>
<% else %>
	<h1>Welcome</h1>
	<%= link_to 'Sign up', new_user_path %>
	|
	<%= link_to 'Login', new_session_path %>
<% end %>




